html, body
{
    font-family: verdana;
    font-size: 16px;
    font-size: 100%;
    font-size: 1em;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: white;
}

*
{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #CD5360;
}

.welcome
{
    width: 800px;
    margin: 2em auto;
    padding: 10px 30px;
    border: 5px solid #438496;
    /*#286DA8; */
    background-color: #ffffff;
}

.welcome a
{
    display: inline-block;
    width: 200px;

    padding: 0.5em;
    text-align: center;
}

.welcome h1
{
    margin: 0;
    color: #555;
}

.news-box
{

    width: 800px;
    margin: 0.5em auto;
    padding: 30px;
    border: 5px solid #438496;
    /*#286DA8;*/
    background-color: #ffffff;
}

.news-box h2
{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;

    color: #CD5360;
}

.news-box p
{
    font-size: 16px;
    padding: 0;
    margin-bottom: 0.3em;
    border-bottom: 2px solid #B37D4E;
    color: #555;
}

.news-box span
{
    font-size: 10px;
    color: #aaa;
}
