html, body
{
    font-family: verdana;
    font-size: 16px;
    font-size: 100%;
    font-size: 1em;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: white;
}

#betweenline {
  border-bottom: 2px solid #B37D4E;
}

*
{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #CD5360;
}

.error
{
    width: 600px;
    margin: 2em auto;
    padding: 10px 30px;
    border: 5px solid #E24E42;
    background-color: #ffffff;
}

.welcome
{
    width: 1000px;
    margin: 2em auto;
    padding: 10px 30px;
    border: 5px solid #438496;
    /*#286DA8; */
    background-color: #ffffff;
}

.welcome a
{
  -webkit-appearance: button;
  -moz-appearance: button;
    appearance: button;
    display: inline-block;
    width: 220px;
    padding: 2px;
    float: right;
    margin-top: -35px;
}

.welcome h1
{
    margin: 0;
    color: #555;
}

.news-box
{
    width: 1000px;
    margin: 0.5em auto;
    padding: 30px;
    border: 5px solid #438496;
    /*#286DA8;*/
    background-color: #ffffff;
}

.news-box h2
{
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;

    color: #CD5360;
}

.news-box h3
{
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;

    color: black;
}

.news-box p
{
    font-size: 16px;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 0.3em;
    color: black;
}
